body {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

h1{
   font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
}


.scrollbar-hide {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
}

.blinking-cursor {
  display: inline-block;
  width: 1ch;
  background-color: transparent;
  animation: blink 1s steps(2) infinite;
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  /* Chrome, Safari, Opera */
  display: none;
}